build/
data/
.vscode/
*.egg-info/
venv/
*.pyc
.ipynb_checkpoints/
__pycache__/

# Ignore local installed viewer
tfe_data/bin/viewer/latest

# Ignore uv lock file (better not committed for a library)
uv.lock
